<a href="/">Voltar</a>
<ul>
    {{#each produto2}}
        <img src=" {{this.img}} " alt="">
        <h1>{{this.namee}}</h1>
        <h1>{{this.agee}}</h1>
        <h1>{{this.decc}}</h1>
    {{/each}}
</ul>