<a href="/">Voltar</a>
<ul>
    {{#each produto3}}
         <img src=" {{this.img3}} " alt="">
        <h1>{{this.nameee}}</h1>
        <h1>{{this.ageee}}</h1>
        <h1>{{this.deccc}}</h1>
    {{/each}}
</ul>
