<h1>Produtos</h1>
{{#if auth}}
    <p>Produto 1<a href="./dashboard">Clique aqui</a></p>
    <p>Produto 2<a href="./dashboard2">Clique aqui</a></p>
    <p>Produto 3<a href="./dashboard3">Clique aqui</a></p>
{{/if}}
